{% block content %}
{% load static %}
{% include 'header.html' %}

<section class="page-section">
    <div class="container">

<h3 class="fw-bold text-center mb-4">Matched Found Items</h3>

<div class="row">
{% for m in matches %}
    <div class="col-md-4 mb-4">
        <div class="card app-card shadow-sm h-100">

            <img src="{{ m.found_item.item_image.url }}"
                 class="card-img-top"
                 style="height:220px;object-fit:cover;">

            <div class="card-body">
                <h5>{{ m.found_item.itemname }}</h5>

                <span class="badge bg-success">
                    Similarity: {{ m.similarity_score|floatformat:2 }}%
                </span>

                <p class="mt-2">
                    <strong>Location:</strong> {{ m.found_item.location }}
                </p>

                <p>
                    <strong>Date:</strong> {{ m.found_item.date }}</p>

                <div class="mt-3">
                    {% if m.request_status == 'requested' %}
                        <span class="badge bg-warning text-dark">Requested by you</span>
                    {% elif m.request_status == 'accepted' %}
                        <span class="badge bg-success">Accepted</span>
                    {% elif m.request_status == 'rejected' %}
                        <span class="badge bg-danger">Rejected</span>
                        <form method="post" class="mt-2">
                            {% csrf_token %}
                            <input type="hidden" name="match_id" value="{{ m.id }}">
                            <button class="btn btn-outline-primary btn-sm">Request Again</button>
                        </form>
                    {% else %}
                        <form method="post" class="mt-2">
                            {% csrf_token %}
                            <input type="hidden" name="match_id" value="{{ m.id }}">
                            <button class="btn btn-primary">Request</button>
                        </form>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
{% empty %}
    <p class="text-center text-muted">No matches found.</p>
{% endfor %}
</div>

 </div>
</section>

{% include 'footer.html' %}
{% endblock %}
